## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [58]:
# Your code here
sample_list_1 = random.sample(range(101), 80)
print(sample_list_1)
len(sample_list_1)

[62, 3, 42, 39, 57, 67, 81, 22, 16, 18, 36, 41, 32, 30, 25, 68, 70, 65, 23, 59, 78, 72, 43, 46, 74, 76, 89, 14, 2, 33, 8, 94, 69, 66, 11, 15, 95, 77, 71, 90, 44, 98, 96, 86, 17, 24, 10, 79, 63, 87, 51, 52, 19, 28, 26, 9, 56, 0, 35, 40, 50, 93, 53, 55, 45, 88, 47, 13, 6, 48, 92, 80, 38, 20, 84, 5, 49, 29, 83, 82]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [59]:
# Your code here
set1=set(sample_list_1)
print(set1)
print(len(set1))
print("Yes the length is still 80")

{0, 2, 3, 5, 6, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 59, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}
80
Yes the length is still 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [60]:
# Your code here
# sample_list_2= random.sample(range(101), 80)
#for x in range(10):
#      print random.randint(1,101)
#

sample_list_2=[]
for i in range(80):
    sample_list_2.append(random.randint(1,100))
print(sample_list_2)

len(sample_list_2)

[29, 94, 11, 81, 9, 16, 95, 83, 93, 60, 6, 8, 40, 40, 43, 79, 55, 26, 52, 11, 7, 26, 86, 74, 33, 12, 26, 7, 55, 60, 48, 98, 77, 9, 21, 17, 64, 40, 2, 50, 92, 41, 8, 89, 5, 27, 24, 36, 34, 2, 29, 88, 51, 50, 2, 43, 73, 76, 82, 44, 21, 12, 21, 18, 42, 17, 61, 32, 88, 3, 62, 44, 63, 68, 96, 6, 15, 73, 95, 80]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [61]:
# Your code here
set2= set(sample_list_2)
type(set2)
len(set2)

#It gets shorter as the set only can contain unique elements and takes away duplicates!

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [62]:
# Your code here
set3=set1-set2
print(set1)
print(set2)
print(f"SET 3: {set3}")

{0, 2, 3, 5, 6, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 59, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}
{2, 3, 5, 6, 7, 8, 9, 11, 12, 15, 16, 17, 18, 21, 24, 26, 27, 29, 32, 33, 34, 36, 40, 41, 42, 43, 44, 48, 50, 51, 52, 55, 60, 61, 62, 63, 64, 68, 73, 74, 76, 77, 79, 80, 81, 82, 83, 86, 88, 89, 92, 93, 94, 95, 96, 98}
SET 3: {0, 10, 13, 14, 19, 20, 22, 23, 25, 28, 30, 35, 38, 39, 45, 46, 47, 49, 53, 56, 57, 59, 65, 66, 67, 69, 70, 71, 72, 78, 84, 87, 90}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [63]:
# Your code here

set4=set2-set1
print(set4)

{64, 34, 7, 73, 12, 21, 27, 60, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [64]:
# Your code here
set5=set1&set2
print(set5)
len(set5)

{2, 3, 5, 6, 8, 9, 11, 15, 16, 17, 18, 24, 26, 29, 32, 33, 36, 40, 41, 42, 43, 44, 48, 50, 51, 52, 55, 62, 63, 68, 74, 76, 77, 79, 80, 81, 82, 83, 86, 88, 89, 92, 93, 94, 95, 96, 98}

47

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [71]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print(len(set1)==len(set3)+len(set5))

print(len(set1)==len(set2)+len(set3)-len(set4))

80
56
33
9
47
True
True

#### Create an empty set called `set6`.

In [ ]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [75]:
# Your code here
set6=set()
set6.update(set3, set5)
print(set6)

{0, 2, 3, 5, 6, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 59, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}

#### Check if `set1` and `set6` are equal.

In [76]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [80]:
# Your code here

set2.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [87]:
# Your code here

set3.union(set4, set5)==set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [91]:
# Your code here

set1.pop()

0

In [92]:
print(set1)

{2, 3, 5, 6, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 59, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [96]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

print(len(list_to_remove))

for i in list_to_remove:
    if i in set1:
        set1.remove(i)


        
print(len(set1))
print(set1)

20
65
{2, 3, 5, 6, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 28, 30, 32, 33, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 55, 56, 57, 62, 63, 65, 66, 67, 68, 70, 72, 74, 76, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98}